@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
  
:root {
  --bg-color: rgb(41, 41, 41);
  --second-bg-color: #202020;
  --text-color: #fff;
  --second-color: #c9c9c9;
  --main-color: #8b1432;
  --big-font: 5rem;
  --h2-font: 3rem;
  --h3-font: 1.5rem;
  --h5-font:1.125rem;
  --p-font: 1.1rem;

}

body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: all 0.45s ease;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  border-bottom: 1px solid transparent;
  transition: all .45s ease;
}

.logo {
  color: var(--text-color);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
 margin-right: 185px;
}

.logo .logo-image::before {
  content: '';
  color: var(--main-color);
  background: url('/img/logo.png') no-repeat;
  background-size: contain;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 4px;
}

span {
  color: var(--main-color);
}

.navlist {
  display: flex;
}

.navlist a {
  color: var(--second-color);
  font-size: 18px;
  font-weight: 700;
  margin: 0 25px;
  transition: all .45s ease;
}

.navlist a:hover {
  color: var(--main-color);

}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 1000;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

section {
  padding: 160px 15% 10px 100px;
}

.home {
  position: relative;
  height: 110vh;
  width: 100%;
  background-image: url(/img/BG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: flex-start;
}

.slide {
  margin-bottom: 20px;
}

.one {
  display: inline-block;
  margin-right: 15px;
  padding: 0 15px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 500px;
  border-radius: 10px;
  background: var(--main-color);
  color: var(--text-color);
}

.two {
  display: inline-block;
  color: var(--second-color);
  font-size: 26px;
  font-weight: 500px;

}

.home-text h1 {
  font-size: 4rem;
  font-weight: 600px;
  color: var(--text-color);
  line-height: 1.1;
  margin: 0 0 8px;
}

.home-text h3 {
  color: var(--text-color);
  font-weight: 700;
  margin: 0 0 35px;
  font-size: 3rem;
  line-height: 1.1;
}

containerp {
  display: inline-block;
}

.home-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  font-weight: 150;
  line-height: 2;
  margin-bottom: 70px;
  border-right: 0px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(170), cursor .4s step-end infinite;
}

@keyframes cursor {
  100% {
    border-color: var(--second-color);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.button:hover {
  transform: translateY(-2px);
  background-color: var(--text-color);
  display: inline-block;
  transition: all .50 ease;
  transition: transform 0.3s;
}

.btn {
  display: inline-block;
  padding: 12px;
  background: var(--main-color);
  border-radius: 10px;
  color: var(--text-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
}
/* about Section*/
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5r;
}

.about-img img {
  align-items: center;
  margin-left: 50px;
  max-width: 500px;
  height: auto;
  width: 100%;
  border-radius: 50px;

}

.about-text h2{
  font-size: var(--h2-font);
  line-height: 0.5;
}
.about-text h3{
  color: var(--text-color);
  font-size: var(--h2-font);
  line-height: 0.5;
  font-size: var(--h3-font);
 margin-bottom: 18px;
 font-weight: 200;
}

.about-text h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.7;
  color: var(--text-color);
  margin: 15px 0 35px;
}
.about-text p{
color: var(--second-color);
font-size: var(--p-font);
font-family: sans-serif ;
line-height: 1.8;
margin-bottom: 3rem;

}
.btn2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--main-color); 
  color: #fff;
  text-decoration: none;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.btn2:hover {
  background-color: rgba(224, 222, 222, 0.733);
  color: var(--main-color);
}

/* Eductaion Section*/
.education {
  display: flex;
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  justify-content: space-around;
}

.main-text h2 {
  text-align: center;
  font-size: var(--h2-font);
  line-height: 1.2;
  color: var(--text-color);
  margin-left: 50px;
  margin-top: 200px;
}

.education-item {
  background-color: rgb(56, 26, 26);
  border: 5px solid var(--main-color);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
  animation: flashBorder 2s infinite;
  line-height: 2;
  width: 20%;
}

@keyframes flashBorder {
  0% {
    border-color: var(--main-color);
  }
  50% {
    border-color: #6f6fa3;
  }
  100% {
    border-color: var(--main-color);
  }
}
.education-item:hover {
  background-color:#b9a8ad5e;
  transform: scale(1.02);
  transition: transform 0.2s;
}



.education-image img {
  max-width: 300px;
  height: auto;
  margin-right: 65px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.education-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%; 
}

.education-details h3 {
  font-size: 20px;
  margin: 15px 0;
  color: var(--text-color);
  font-weight: 600;
}

.education-details a {
  display: block;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  text-decoration: none;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  font-size: 16px; 
  font-weight: bold; 
  transition: background-color 0.3s, color 0.3s;
  line-height: 1; 
  float: inline-end;
}

.education-details a:hover {
  background-color: rgba(209, 199, 179, 0.699);
  color: var(--main-color);
}

.education-details p {
  color: var(--second-color);
  font-size: var(--p-font);
  font-family: sans-serif;
  line-height: 1.5;
  margin: 10px 0 20px 0;
}

/* Experience Section*/
.experience {
  background-color:  var(--bg-color);
  padding: 40px 0;
}

.experience .main-text {
  text-align: center;
}

.experience h2 {
  font-size: var(--h2-font);
  line-height: 1.2;
  color: var(--text-color);
  margin-left: 50px;
  margin-top: 200px;
  font-style: normal;
}

.experience-content {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.experience-item {
  background-color: #c9aaaa;
  border: 2px groove var(--main-color);
  border-width: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  font-style: normal;
  width: 25%;
  height: 58vh;

}

.experience-item h3 {
  font-size: 20px;
  color: var(--second-bg-color);
  margin-bottom: 10px;
}

.experience-item h5 {
  font-size: medium;
  color: var(--second-bg-color);
  margin-bottom: 10px;
}

.experience-item p {
  color: var(--second-bg-color);
  margin: 0 0 10px;
}

.experience-item strong {
  font-weight: bold;
}

.experience-item ul {
  color:#522832;
  font-weight: 400;
  font-size: var(--p-font);
  padding-left: 20px;
 font-family: 'Arial', sans-serif;
 font-style: italic;
  margin: 0;
}

.experience-item ul li {
  list-style: disc;
  margin-bottom: 1px;
}

.experience-item:hover {
  background-color: #f5d4dd;
  transform: scale(1.02);
  transition: transform 0.2s;
}
.experience-title {
  size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-ex {
  max-width: 32px; 
  height: auto;
  display: inline-block;
  margin-right: 12px;
}

.h3-ex {
  font-size: 20px;
  color: var(--second-bg-color);
  padding-right: 50px;
}

/* Services Section*/
.services-svs {
  background-color: var(--second-bg-color);
  padding:20px;
}

.main-text-svs {
  text-align: center;
}

.main-text-svs h2 {
  font-size: var(--h2-font);
  line-height: 1.2;
}

.main-text-svs p {
  color: var(--second-color);
  font-size: 18px;
  margin: 20px 0;
}

.services-content-svs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.box-svs {
  background: var(--bg-color);
  padding: 35px 45px;
  border-radius: 8px;
  transition: transform 0.45s ease, box-shadow 0.45s ease;
  box-shadow: 0 0 10px rgba(39, 39, 39, 0.1);
}

.box-svs:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.s-icons-svs i {
  font-size: 40px;
  margin-bottom: 20px;
  color: var(--main-color);
}

.box-svs h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  margin: 20px 0 10px;
}

.box-svs p {
  color: var(--second-color);
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.learn-more i{
  font-size: 40px;
  margin-bottom: 20px;
  color: var(--main-color);
}

/* Projects Section*/
.projects{
  margin-top: -200px;
}
.project-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  gap: 2.1rem;
  margin-top: 2rem;
  margin-left: 10rem;;
}
.main-text-proj{
  margin-left: 115px;
}
.row {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.5s ease;
  height: 100%;
}

.row img {
  width: 100%;
  border-radius: 25px;
  display: block;
}

.row:hover {
  transform: scale(1.05);
}

.proj {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0);
  width: 100%;
  height: 100%;
  background: linear-gradient(130deg,rgb(29, 18, 18),rgba(88, 76, 77, 0.7));
  opacity: 0;
  padding: 20px;
  border-radius: 10px;
  transition: opacity 0.5s;
}

.row:hover .proj {
  opacity: 1;
}

.proj h5 {
  font-size: var(--h5-font);
  font-weight: bold;
  color: #fff;
  margin: 0;
  line-height: 1.3;
}

.proj p {
  font-size: var(--p-font);
  color: #ddd;
  line-height: 1.3;
  margin: 0;

}

.row i {
  color: #fff;
  font-size: 20px;
  background: var(--main-color);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.row i:hover {
  background-color: #8b1432;
}

/* Contacts Section */
.contact {
  background: #474747;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  gap: 2.5rem;
  margin-top: -20;
  margin: 70px 180px 20px 200px;
  width: 80%;
  max-width: 1200px;
  padding: 40px;
}
.contact-text {
margin-top: -150px;
}
.contact-text h4 {
  color: var(--text-color);
  margin: 12px; 
  font-size: 20px;
  font-weight: 600;
}

.contact-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
  margin-bottom: 15px; 
}

.contact-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 30px;
}

.List li a {
  display: block;
  color: var(--second-color);
  font-size: 14px;
  transition: all 0.45s ease;
}

.List li a:hover {
  color: var(--text-color);
  transform: translateY(5px);
}

.contact-icon i {
  height: 45px;
  width: 45px;
  color: var(--text-color);
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 15px;
  transition: all 0.45s ease;
  line-height: 5;
}

.contact-icon i:hover {
  color: var(--main-color);
}

.contact-form form {
  position: relative;
}

.contact-form form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.contact-form h2{
  margin-top: -20px;
  margin-right: 45px;
  padding: 20px;
}
.contact-form textarea {
  resize: none;
  height: 240px;
}

.contact-form .submit {
  display: inline-block;
  font-size: 16px;
  background: var(--main-color);
  width: 160px;
  transition: all 0.45s ease;
  color: white; 
  border: none;
  padding: 10px;
  border-radius: 8px;

}

.contact-form .submit:hover {
  background: #af3d5a; 
}

/* Footer Section */
.footer {
  background: #333;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo img {
  max-width: 100px;
  height: auto;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin: 0 15px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin: 0 10px;
}

.footer-text p {
  font-size: 14px;
  margin-top: 20px;
}
@media(max-width:1309px)
{
  header{
    padding: 12px 2.5%;
    transition:.1s;
  }
  section{
    padding: 110px 3% 60px;
  }
  .footer{
    padding: 15px 3%;
  }
}
@media(max-width:460px)
{
  :root{
    --big-font:4rem;
    --h2-font:2.5rem;
    --p-font:1rem;
    transition: .1s;
  }
  .home-text h3{
    font-size: 2.5rem;
  }
  .home{
    height: 110vh;
  }
}
@media(max-width:920)
{
  .about{
    grid-template-columns: 1fr;
  }
  .about-img img{
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .contact{
    grid-template-columns: 1fr;
  }
}
@media(min-width:513){
  #menu-icon{
    display: block;
  }
  .navlist{
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    text-align: left;
    transition: all .45s ease;
  }
  .navlist a{
    display: block;
    margin: 17px;
    font-size: 20px;
    transition: all .45s ease;
    color: var(--text-color);
  }
  .navlist:hover{
    color: var(--main-color);
  }
  navlist a.active{
    color: var(--text-color);
  }
  .navlist.open{
    top: 100%;
  }
}
